<h1>The project <%= @questionnaire.name %> is <%=@questionnaire.route.route%></h1>

<br>
<br>
<br>

<% @questionnaire.practices.each do |practice| %>
	<p><%=practice.practice_name%></p>
<%end%>

<h1>Do you agree with our choice?</h1>
<%= link_to 'Yes', @questionnaire %>
<%= link_to 'No', edit_questionnaire_path(@questionnaire) %>